@using Models
@model FurnitureAndFixtureViewModel

<div class="card">
    <h5 class="card-header"><span class="card-header-custom">@Localizer["Furniture and Fixture"]</span><br></h5>
    <div class="card-body">
        <input type="hidden" asp-for="@Model.Id" name="Id" />
        <partial name="_EditFurnitureAndFixtureDetails" model="Model" />        
    </div>
</div>
